
<form [formGroup]="form" (ngSubmit)="createBook()">
  <mat-form-field  appearance="fill">
    <mat-label>Titulo</mat-label>
    <input matInput placeholder="Ingrese el id del libro" formControlName="title" />
  </mat-form-field>

  <mat-form-field  appearance="fill">
    <mat-label>Autor: </mat-label>
    <input matInput placeholder="Ingrese el id del libro" formControlName="author" />
  </mat-form-field>
  <mat-form-field  appearance="fill">
    <mat-label>Descripción: </mat-label>
    <input matInput placeholder="Ingrese el id del libro" formControlName="description" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tema: </mat-label>
    <input matInput placeholder="Ingrese el id del libro" formControlName="subject" />
  </mat-form-field>
  <mat-form-field  appearance="fill">
    <mat-label>Año de Publicación: </mat-label>
    <input matInput type="number" placeholder="Ingrese el id del libro" formControlName="year" />
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary" class="margin ">Enviar</button>
</form>