<div>
  <div>
    <div align="center">
      <mat-toolbar color="primary">
        <h1>Libreria</h1>
      </mat-toolbar>
    </div>

    <br />
    <br />
    <div align="center">
      <h2 class="title">Obtener Todos</h2>
      <button mat-raised-button color="primary" class="margin" (click)="buscarLibros()">Buscar Todos los Libros</button>
      <button mat-raised-button color="secondary" class="margin" (click)="vaciarLibros()">Limpiar</button>

      <div *ngIf="books?.length >0">
        <mat-grid-list cols="4" rowHeight="2:1">
          <mat-grid-tile *ngFor="let b of books">
            <Book [book]="b"></Book>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <br />
      <br />
      <br />



      <div align="center">
        <h2 class="title">Obtener Libro por Id</h2>
        <form [formGroup]="form" (ngSubmit)="buscarLibro()">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>ID del libro a buscar</mat-label>
            <input matInput placeholder="Ingrese el id del libro" formControlName="bookId" />
          </mat-form-field>
          <button mat-raised-button color="primary" class="margin tst" type="submit" >Buscar</button>
        </form>
        <Book *ngIf="book" [book]="book[0]"></Book>
      </div>



      <br />
      <br />
      
      <div class="border">
          <h2 class="title" align="center">Crear Un Libro</h2>
          <BookForm></BookForm>
      </div>

      <br />
      <br />

      <div class="mb-5" align="center">
        <h3 class="title">Libros por palabra clave</h3>
        <form [formGroup]="reportForm" (ngSubmit)="descargarReporte()">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Palabra Clave a Buscar</mat-label>
            <input matInput placeholder="Ingrese la palabra clave" formControlName="keyword" />
          </mat-form-field>
          <br />
          <button mat-raised-button type="submit" color="primary">Generar Reporte</button>
        </form>
        <br />
        <br/>
        <br/>

      </div>
    </div>
  </div>